flask
requests
tk
numpy
pandas
scikit-learn
joblib
shap
lime
dash
dash-bootstrap-components
matplotlib
tensorflow; sys_platform != 'win32'  # Optional, only if using LSTM/CNN
fastapi
uvicorn
pydantic
plotly
python-multipart